<div class="message">
    <div class="font mensaje">
        <p>Bueno en parte este mensaje tendrá cosas que te dije la ves pasada y otras nuevas: <br>
        <br>
        Andrea como sabes el motivo de todo esto, es que se que no disfrutas mucho diciembre. Espero de corazón que todo mejore. En el 2023 se cumplan las cosas que tienes en mente, que tu salud que es lo más importante mejore considerablemente, que vivas en paz.
        <br>
        <br>
        Otra de las razones por las que te hice este regalo, es que quiero que tengas en cuenta que las cualidades tuyas como entregada, amorosa, es algo que uno hombre valora. Si no tuviste esa persona que lo apreciara, mal por él. No olvide que eres una mujer que es díficil de encontrar por tus valores, puede que en estos momentos como has tenido bajones y todo ello no lo veas. Una razón que me motivo hacer esto, es que cosas como las que tienes me llamo la atención.
            <br>
            <br>
            Es verdad que te halago mucho físicamente y no te quiero dar una idea erronea, aún así no voy a ignorar el hecho que aparte de tener valores, pues seamos directos, físicamente eres muy linda.
            <br>
            <br>
            Ya por último hahaha, me gustaría que por favor me dijeras que te parecio este regalo, sea un chat o audio o lo que quieras, es importante para mi tu opinión.
            <br>
            <br>
            Cuidate y te doy un abrazo.
            <br>
            Att: John
        
        </p>
    </div>
</div>
