/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

@font-face {
    font-family: 'Cabin Sketch', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Cabin Sketch', 'Fira sans', cursive;
    font-weight: bold;
}

body {
    overflow: hidden;
    overflow-y: auto;
}




